html {
  font-family: "Fredoka One", sans-serif;
}

.background {
  background-image: repeating-linear-gradient(-33deg, #c9fcff 0%, #c9fcff 1%, #d4fdff 1.1%, #d4fdff 2%, #c9fcff 2.1%);
  border-bottom: 8px #b3fbff;
  border-top: 8px #b3fbff;
}

h1 {
  color: #990073;
}

p {
  color: #c09;
}

.btn {
  color: #c09;
  transform: rotate(0deg);
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  border-color: #c09;
  background-color: #990073;
  color: #fff;
}

.title {
  background-position: left center;
  transform: rotate(-5deg);
}

.intro {
  background-position: left center;
  max-width: 19em;
  transform: rotate(-2deg);
}

.text {
  position: absolute;
  left: 20%;
  bottom: 55%;
  height: 180px;
  width: 180px;
  z-index: 50;
  animation: text 2s;
  text-shadow: 2px 2px rgba(0, 0, 0, .2);
}

img {
  position: relative;
}

.icecreamp {
  bottom: 100%;
  left: 135%;
  height: 180px;
  width: 180px;
}

.icecream {
  min-height: 480px;
}

.ingredient {
  left: 145%;
  bottom: 64%;
}

.cone {
  animation: cone-drop-in .15s .3s ease-in forwards;
}

.mint {
  bottom: 33%;
  animation: mint-drop-in .3s .3s ease-in forwards;
}

.chocolate-chip {
  bottom: 38%;
  z-index: 10;
  animation: choc-drop-in .3s .6s ease-in forwards;
}

.vanilla-fudge {
  bottom: 50%;
  z-index: 20;
  animation: vanilla-drop-in .2s .9s ease-in forwards;
}

.cherry {
  bottom: 64%;
  z-index: 30;
  animation: cherry-drop-in .15s 1.5s ease-in forwards;
}

@keyframes cone-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

@keyframes mint-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 104px;
  }

}

@keyframes choc-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 170px;
  }

}

@keyframes vanilla-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 245px;
  }

}

@keyframes cherry-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 320px;
  }

}

@keyframes text {

  0% {
    opacity: 0;
  }

  80% {
    opacity: 80;
    filter: blur(180px);
  }

  100% {
    opacity: 100;
  }

}
